.footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    font-size: large;
    height: 4rem;
    font-size: 18pt;
    color: var(--black);
    
}

